on:
  push:
    branches:
      - master
  pull_request:
    branches:
      - master

name: Clippy check
permissions:
  contents: read
  checks: write
  pull-requests: write

jobs:
  clippy_check:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@11bd71901bbe5b1630ceea73d27597364c9af683 # v4.2.2
      - uses: actions-rs/clippy-check@b5b5f21f4797c02da247df37026fcd0a5024aa4d # v1.0.7
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          args: -- -D warnings
